.block
  background-color: $white
  padding: 26px 30px
  border-radius: $border-radius
  font-size: 12px
  color: #8a8c94

  @include third-query
    padding: 26px 15px

  &_no-b-p
    padding-bottom: 0

  &_tab
    display: flex
    //align-items: center
    justify-content: space-between
    margin: 0 -15px 9px

  &__row
    display: flex
    margin-top: 10px

  &__item
    display: flex
    //align-items: center
    justify-content: space-between

    &_row-reverse
      position: relative
      flex-direction: row-reverse
      line-height: 1.3

  &__link
    display: block
    margin-top: 8px
    @include transition

    &:first-child
      margin-top: 0

    &:hover
      box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.3)

  &__title
    display: block
    max-width: 365px
    margin-bottom: 4px
    @include font-title
      font-size: 16px
    color: $block-title-color
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    @include second-query
      max-width: 280px

    &:hover
      color: #fd544b
      @include  second-query
        position: absolute
        width: 280px
        background-color: #fff
        white-space: normal
        cursor: pointer

        + .block__subtitle
          margin-top: 26px

  &__subtitle
    font-family: $font
    font-size: 14px
    font-weight: 300
    font-style: normal
    letter-spacing: 0.5px

  &__charts
    display: flex
    margin-top: 30px

  &__links
    margin-top: 30px

  &__edit-show
    cursor: pointer

    &:hover

      .block__edit
        display: flex

      .btn__more
        svg
          fill: #000!important

  &__change-info-list
    display: flex
    height: 54px
    align-items: center
    cursor: pointer

    &:hover
      + .block__charts
        display: none

      .block__links-edit
        display: flex

      .btn__more
        svg
          fill: #000!important

  &__edit
    display: none
    //display: flex
    flex-direction: column
    position: absolute
    padding-top: 10px
    right: 0

//.block__change-info-list
  &:hover
    + .block__charts
      display: none

    .block__links-edit
      display: flex

    .btn__more
      svg
        fill: #000!important

.btn__more_vert:hover + .block__charts
  display: none

.btn__more_vert:hover + .block__charts + .block__links-edit
    display: flex



.forms-list
  .block

    &__charts
      //display: none
      margin-top: 0

    &__title
      max-width: 460px

      @include second-query
        max-width: 340px
        cursor: pointer

      &:hover
        @include second-query
          width: 340px

    &__links
      position: relative
      margin-top: 0
      margin-right: 35px
      padding: 8px 0

      &:after
        content: ''
        position: absolute
        width: 2px
        height: 24px
        background-color: #edeff5
        top: 50%
        right: -16px
        transform: translateY(-50%)


    &__edit
      display: block
      position: relative
      margin-top: 0
      padding: 8px 0

      &_test
        display: none

    &__links-edit
      display: none

      position: absolute
      right: 0
      width: 465px
      height: 54px



.row-flex
  display: flex
  justify-content: space-between

  &__item
    position: relative