.btn
  position: relative
  border-radius: $border-radius
  cursor: pointer
  @include transition

  svg
    @include transition


  &_full-width
    width: 100%

  &__create-form
    background-color: #484c62
    color: #b4bad9
    padding: 11px 15px
    border-bottom: none

    svg
      width: 18px
      height: 18px
      margin-right: 10px
      fill: #b4bad9

      @include second-query
        margin-right: 0

    &:hover
      color: #ffffff

      svg
        fill: #fff

  &__menu-editor
    background-color: #484c62
    color: #b4bad9
    padding: 9px 18px
    border-bottom: none

    svg
      width: 18px
      height: 18px
      margin-right: 0
      fill: #b4bad9
      @include transition

      @include third-query
        left: 6px

    &:hover
      color: #ffffff

      svg
        fill: #fff

  &__publish-form
    background-color: #89b659
    color: #fff
    padding: 8px 18px

    &:hover
      background-color: #92d050

  &__editor
    background-color: #484c62
    padding: 11px 15px
    color: #4ba7f6

    @include second-query
      padding: 11px

  &__upgrade
    padding: 11px 20px 11px 48px
    background: linear-gradient(to right, #f1534f, #f53a6d)
    color: #fff
    font-size: 12px
    text-transform: uppercase

    @include second-query
      padding: 11px 15px 11px 31px

    &:before
      content: ""
      position: absolute
      background-image: url("../images/upgrade.png")
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: contain
      width: 19px
      height: 17px
      left: 14px
      top: 50%
      transform: translateY(-50%)

      @include second-query
        left: 7px

    &:hover
      background: linear-gradient(to right, #f1534f, #f1534f)


  &__green
    display: none
    background-color: #c2de9e
    padding: 5px 10px
    @include font-title
      font-size: 12px
    color: #668e32

  &__payment
    display: none
    background-color: #c2de9e
    margin-right: 25px
    padding: 5px 5px 4px 25px
    top: -5px
    @include font-title
      font-size: 12px
    color: #668e32

    &:before
      content: ''
      position: absolute
      width: 16px
      height: 16px
      top: 5px
      left: 5px
      background-image: url("../images/payment.svg")
      background-repeat: no-repeat
      background-position: 50% 50%

  &__save
    display: inline-block
    padding: 7px 20px
    background-color: $green
    color: $white
    cursor: pointer

    &:hover
      background-color: $green-hover

  &__more
    padding: 0 8px

    svg
      width: 20px
      height: 4px
      fill: #bdbdc5

    &_vert
      svg
        transform: rotate(90deg)


  span
    @include second-query
      display: none

  &__block-link
    display: inline-block
    padding: 9px
    margin: 0 6px 0 0
    background-color: #edeff5
    color: $color-link-btn
    @include font-title-500
      font-size: 14px

    & svg
      fill: #9699ab
      @include transition

    &_forms-grid
      margin: 5px 0 0 0

    &:hover
      background-color: $color-link-bg
      color: $color-link-btn-hover

      & svg
        fill: $color-link-btn-hover

    & svg
      vertical-align: text-bottom

    &_responses
      svg
        width: 19px
        height: 19px
        margin-right: 10px

    &_statistics
      svg
        width: 18px
        height: 19px

    &_export
      svg
        width: 17px
        height: 18px

    &_qr
      svg
        width: 18px
        height: 18px

    &_duplicate,
    &_trash
      svg
        width: 19px
        height: 19px

    &_edit
      svg
        width: 18px
        height: 18px

  &__delete
    display: inline-block
    width: 170px
    background-color: #44465a
    margin-right: 8px
    padding: 14px 20px
    color: #fff
    font-weight: bold
    text-align: center

    &:last-child
      margin-right: 0
      margin-left: 8px
      background-color: #fe544b

    @include first-query
      width: 145px

  &__submit
    background-color: #fe544b
    border: none
    color: #fff
    padding: 14px 22px
    @include transition

    &:hover
      background-color: #ff6d65

    &_green
      background-color: #89b659
      &:hover
        background-color: #92d050

  &__open-editor
    background-color: #9699ab
    color: #fff
    padding: 9px 18px
    @include font-title
      font-size: 14px

    &:hover
      background-color: #bcbfce

  &__constructor
    background-color: #393d56
    padding: 14px 30px
    @include font-title
      font-size: 14px
    color: #fff

  &__close-panel
    background-color: #3b3d50
    padding: 10px 12px
    @include transition
    cursor: pointer

    @include large-screen
      display: none

    svg
      position: relative
      width: 13px
      height: 13px
      top: 2px
      fill: #9699ab
      @include transition

    &:hover
      background-color: #3e4255

      svg
        fill: #fff

  &__popup
    display: inline-block
    padding: 20px 30px
    margin-right: 20px
    color: #fff
    background-color: #393d56
    @include font-title
      font-size: 14px

    &_red
      background-color: #fe544b


_:-ms-fullscreen, :root .btn__create-form svg
   top: 0