.btn
  position: relative
  border-radius: $border-radius
  @include transition

  &__create-form
    background-color: #484c62
    color: #b4bad9
    padding: 10px 15px 10px 42px

    @media (max-width: 1259px)
      padding: 10px 15px 10px 31px

    svg
      width: 18px
      position: absolute
      left: 14px
      fill: #b4bad9
      @include transition

    &:hover
      color: #ffffff

      svg
        fill: #fff

  &__editor
    background-color: #484c62
    padding: 10px 25px
    color: #4ba7f6

  &__upgrade
    padding: 10px 15px 10px 42px
    background: linear-gradient(to right, #f1534f, #f53a6d)
    color: #fff
    text-transform: uppercase

    @media (max-width: 1259px)
      padding: 10px 15px 10px 31px

    &:before
      content: ""
      position: absolute
      background-image: url("../images/upgrade.png")
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: contain
      width: 19px
      height: 17px
      left: 14px

      @media (max-width: 1259px)
        left: 7px

    &:hover
      background: linear-gradient(to right, #f1534f, #f1534f)


  &__payment
    display: none
    background-color: #c2de9e
    margin-right: 25px
    padding: 5px 5px 4px 25px
    top: -5px
    font-family: $font-bold
    font-size: 12px
    color: #668e32

    &:before
      content: ''
      position: absolute
      width: 16px
      height: 16px
      top: 5px
      left: 5px
      background-image: url("../images/payment.svg")
      background-repeat: no-repeat
      background-position: 50% 50%

  span
    @media (max-width: 1259px)
      display: none

