.slide-part
    width: 100%
    @include transition

    @include large-screen
        width: calc(100% - 572px)

.components-panel
    position: absolute
    width: 572px
    height: 100%
    background-color: #323341
    top: 59px
    right: -700px
    visibility: hidden
    opacity: 0
    @include transition
    padding: 0px 40px 20px

    @include large-screen
        visibility: visible
        opacity: 1
        right: 0

    &__title
        margin-left: 15px
        @include font-title
            font-size: 24px

    &__section
        color: #9699ab
        @include font-title
            font-size: 12px
        padding: 20px 0
        border-bottom: 1px solid rgba(205, 207, 222, .1)

        &_flex
            display: flex
            justify-content: space-between
            align-items: center

    &__section-title
        text-transform: uppercase
        margin-bottom: 18px

    &__item-box
        display: flex
        flex-wrap: wrap

    &__item
        position: relative
        width: 120px
        height: 80px
        background-color: #3b3d50
        border-radius: $border-radius
        padding: 10px
        margin: 2px
        cursor: pointer
        text-align: center
        @include transition

        &:nth-child(4n+1)
            margin-left: 0

        &:nth-child(4n+4)
            margin-right: 0

        &_half
            width: 49.3%

            &:nth-child(odd)
                margin-left: 0

            &:nth-child(even)
                margin-right: 0

        &_icon
            height: 66px

        &:hover
            background-color: #3e4255
            color: #fff

        &_unactive
            background-color: #353645

            &:hover
                background-color: #353645
                color: #9699ab

            .components-panel__item-text,
            .components-panel__item-icon
                opacity: 0.4

        &_upgrade
            background-image: url("../images/upgrade-red.svg")
            background-repeat: no-repeat
            background-position: 10px 10px
            background-size: 14px
            color: #FE544B

            &:hover
                color: #FE544B

    &__item-icon
        margin-top: 10px
        margin-bottom: 8px
        img
            display: inline-block
            height: 24px

    &__link
        font-family: $font
        font-weight: normal
        font-size: 14px
        color: #fe544b
        line-height: 2

    .switch__container
        margin-right: 0


.component-settings

    &__section
        margin-bottom: 10px
        padding: 20px
        background: #353645
        border-radius: $border-radius

    &__row-flex
        display: flex
        justify-content: space-between
        margin-bottom: 20px

    &__row
        margin-bottom: 20px

        input
            position: relative
            z-index: 1
            opacity: 1
            font-family: $font
            font-weight: normal

    &__description
        font-family: $font
        font-weight: normal
        font-size: 12px
        margin-top: 10px
        color: #9699ab

        &_14
            font-size: 14px

    &__title
        display: flex
        align-items: center
        @include font-title-500
            font-size: 14px

        img
            width: 18px
            margin-right: 15px

    &__title-small
        font-size: 14px
        color: #61657a

.components-panel-content,
.components-panel-settings,
.components-panel-settings-input,
.components-panel-settings-submit
    display: none

.components-panel-open
    .slide-part
        width: 800px

    .components-panel
        right: 0
        visibility: visible
        opacity: 1

    .components-panel-content
        display: block

        
.components-panel
    /* Accordion styles */
    .tabs
        margin-top: 0
        border-radius: $border-radius
        overflow: hidden

    .tab
        width: 100%
        margin-bottom: 0
        overflow: hidden

        &-label
            display: flex
            justify-content: space-between
            padding: 0
            font-weight: bold
            color: #9699ab
            cursor: pointer
            text-transform: uppercase
            /* Icon */
            &:hover
                background: none

            //&::after
                content: "\276F"
                width: 1em
                height: 1em
                text-align: center
                transition: all .35s

            &::before
                display: none


        &-content
            max-height: 0
            padding: 0
            color: #fff
            background: #323341
            border-radius: $border-radius
            @include transition
            visibility: hidden
            opacity: 0

        &-close
            display: flex
            justify-content: flex-end
            padding: 0
            font-size: 0.75em
            background: red
            cursor: pointer
            &:hover
                background: darken(red, 10%)




    // :checked
    input:checked
        + .tab-label
            background: none
            &::after
                transform: rotate(180deg)


        ~ .tab-content
            max-height: 100vh
            padding: 0
            margin-top: 18px
            visibility: visible
            opacity: 1



.component-settings-panel-open
    .slide-part
        width: 800px

    .components-panel
        right: 0
        visibility: visible
        opacity: 1

    .components-panel-settings
        display: block

.component-settings-panel-input-open
    .slide-part
        width: 800px

    .components-panel
        right: 0
        visibility: visible
        opacity: 1

    .components-panel-settings-input
        display: block

.component-settings-panel-submit-open
    .slide-part
        width: 800px

    .components-panel
        right: 0
        visibility: visible
        opacity: 1

    .components-panel-settings-submit
        display: block