body
  font-family: Helvetica

.wrapper
  position: relative
  flex: 1
  background-color: #f3f4f8

.wrapper-content
  width: 980px
  margin: auto
  padding: 30px 0 0 0

.block
  background-color: $white
  padding: 30px
  border-radius: 5px
  font-size: 12px
  color: #8a8c94

  &_tab
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 -15px 5px

  &__item
    display: flex
    align-items: center
    justify-content: space-between

  &__contact-info
    ba

  &__title
    font-family: $font-bold
    font-size: 16px
    color: $block-title-color
