body
  //font-family: Helvetica
  font-family: $font

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%
  position: relative
  flex: 1
  background-color: #f3f4f8

.wrapper-content
  flex: 1 0 auto
  width: 980px
  margin: auto
  padding: 35px 15px 0

  @media (max-width: 1259px)
    width: 760px

.show
  display: block!important

.choose
  background-color: #e1e2e8


