.header
  display: flex
  justify-content: space-between
  background-color: #393d56
  align-items: center
  font-family: $font-bold
  font-size: 14px

  &__item
    display: flex
    align-items: center

  &__logo
    background-image: url("../images/logo.png")
    background-repeat: no-repeat
    background-position:  0 0
    background-size: cover
    width: 60px
    height: 60px