.navbar
  display: flex
  flex: 1
  justify-content: space-between

  &__list
    display: flex

  &__item
    margin: 0 20px

    @media (max-width: 1440px)
      margin: 0 10px

  &__link
    position: relative
    padding: 22px 0
    color: #9699ab
    text-decoration: none
    @include transition

    &.active
      color: #fff

      &:after
        position: absolute
        content: ''
        width: 100%
        height: 2px
        bottom: 0
        left: 0
        background-color: #f33c33

    &:hover
      color: #fff

      svg
        fill: $white

    &_icon
      padding-left: 29px

    svg
      width: 19px
      position: absolute
      left: 0px
      fill: $color-text-menu
      @include transition


  &__btn
    position: relative
    background-color: #484c62
    color: #b4bad9
    padding: 10px 15px 10px 42px
    border-radius: 5px
    @include transition

    svg
      width: 18px
      position: absolute
      left: 14px
      fill: #b4bad9
      @include transition

    &:hover
      color: #ffffff

      svg
        fill: #fff

    &_editor
      padding: 10px 25px
      color: #4ba7f6

    &_upgrade
      background: linear-gradient(to right, #f1534f, #f53a6d)
      color: #fff
      text-transform: uppercase

      &:before
        content: ""
        position: absolute
        background-image: url("../images/upgrade.png")
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: contain
        width: 19px
        height: 17px
        left: 14px

      &:hover
        background: linear-gradient(to right, #f1534f, #f1534f)
