/* table styles */
table
  width: 100%
  margin: 20px auto
  border-color: #dcdde3

table,
td,
th 
  border-collapse: collapse
  color: #50525e


th,
td 
  padding: 10px
  border: solid 1px #dcdde3
  text-align: center

th
  color: #3a3d50

th:first-child,
th:last-child,
td:first-child,
td:last-child
  width: 10%

.table__title
  color: #72747c
  @include font-title
  text-transform: uppercase
