.title-section
  display: flex
  justify-content: space-between


.top-title
  color: $top-title-color
  font-family: $font-bold
  font-size: 24px

  &__subtitle
    margin-top: 5px
    color: #8e8f93
