.top-panel
  display: flex
  justify-content: space-between
  align-items: center
  padding: 13px
  background-color: #fff
  color: #9699ab
  font-size: 14px
  border-bottom: 1px solid rgba(220, 221, 227, 0.5)

  &__link
    padding: 10px 0
    color: $color-link-btn
    @include font-title
      font-size: 14px
    @include transition

    &:hover
      color: $color-link-btn-hover

      svg
        fill: $color-link-btn-hover

  &__top-panel-back
    display: inline-block
    width: 36px
    height: 36px
    margin-right: 10px
    background-color: #edeff5
    text-align: center
    padding: 11px 11px

    svg
      width: 14px
      height: 14px
      fill: $color-link-btn
      transform: rotate(90deg)
      @include transition

    &_editor
      background-color: #484c62

  &__back-to-list
    &_editor
      margin-left: 20px

      .top-panel__link
        &:hover
          color: #fff

          svg
            fill: #fff

  &__title-block
    text-align: center

  &__title
    color: #484c62
    @include font-title
      font-size: 16px

  &__subtitle
    font-size: 12px