// FONTS
//$font: 'HelveticaNeueCyr'
//$font-regular: 'HelveticaNeueCyrRoman'
//$font-bold: 'HelveticaNeueCyrBold'
//$font-medium: 'HelveticaNeueCyrMedium'

$font: 'Roboto', sans-serif
$font-title: 'IBM Plex Sans', sans-serif

//====== media query ====
$first-query: 1374px
$second-query: 1269px
$third-query: 1099px
$large-screen: 1601px

@mixin first-query
  @media (max-width: #{$first-query})
    @content

@mixin second-query
  @media (max-width: #{$second-query})
    @content

@mixin third-query
  @media (max-width: #{$third-query})
    @content

@mixin large-screen
  @media (min-width: #{$large-screen})
    @content

// COLORS
$white: #fff
$green: #89b659
$green-hover: #92d050
$red: #fe544b
$red-hover: #ff6d65
$grey: #393d56
$grey-hover: #52566e

$color-link-btn: #8a8e9d
$color-link-btn-hover: #393d56
$color-link-bg: #d7d9e3

$color-text-menu: #9699ab
$top-title-color: #363844

$block-title-color: #3a3d50

//
$border-radius: 5px