@import "../fonts/HelveticaNeueCyr/stylesheet.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.header-wix {
  width: 100%;
  height: 48px;
  background-color: grey;
}

.sidebar-wix {
  background-color: #23263c;
  width: 228px;
  height: 94.4vh;
  position: relative;
  padding: 20px;
}
.sidebar-wix a {
  color: #fff;
  display: block;
}

.wrapper-wix {
  display: flex;
}

* {
  pointer-events: fill;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  flex: 1;
  background-color: #f3f4f8;
}
.wrapper_white {
  background-color: #fff;
}
.wrapper_hidden {
  overflow-x: hidden;
}

.wrapper-content {
  flex: 1 0 auto;
  width: 1012px;
  margin: auto;
  padding: 35px 15px 0;
}
@media (max-width: 1269px) {
  .wrapper-content {
    width: 760px;
  }
}

.show {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

.choose {
  background-color: #e1e2e8;
}

.flex {
  display: flex;
}

.block {
  background-color: #fff;
  padding: 26px 30px;
  border-radius: 5px;
  font-size: 12px;
  color: #8a8c94;
}
@media (max-width: 1099px) {
  .block {
    padding: 26px 15px;
  }
}
.block_no-b-p {
  padding-bottom: 0;
}
.block_tab {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 9px;
}
.block__row {
  display: flex;
  margin-top: 10px;
}
.block__item {
  display: flex;
  justify-content: space-between;
}
.block__item_row-reverse {
  position: relative;
  flex-direction: row-reverse;
  line-height: 1.3;
}
.block__link {
  display: block;
  margin-top: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.block__link:first-child {
  margin-top: 0;
}
.block__link:hover {
  border-color: #e9ebec;
}
.block__title {
  display: block;
  max-width: 365px;
  margin-bottom: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3a3d50;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1269px) {
  .block__title {
    max-width: 280px;
  }
}
.block__title:hover {
  color: #fd544b;
}
@media (max-width: 1269px) {
  .block__title:hover {
    position: absolute;
    width: 280px;
    background-color: #fff;
    white-space: normal;
    cursor: pointer;
  }
  .block__title:hover + .block__subtitle {
    margin-top: 26px;
  }
}
.block__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
}
.block__charts {
  display: flex;
  margin-top: 30px;
}
.block__links {
  margin-top: 30px;
}
.block__edit-show {
  cursor: pointer;
}
.block__edit-show:hover .block__edit {
  display: flex;
}
.block__edit-show:hover .btn__more svg {
  fill: #000 !important;
}
.block__change-info-list {
  display: flex;
  height: 54px;
  align-items: center;
  cursor: pointer;
}
.block__change-info-list:hover + .block__charts {
  display: none;
}
.block__change-info-list:hover .block__links-edit {
  display: flex;
}
.block__change-info-list:hover .btn__more svg {
  fill: #000 !important;
}
.block__edit {
  display: none;
  flex-direction: column;
  position: absolute;
  padding-top: 10px;
  right: 0;
}

.btn__more_vert:hover + .block__charts {
  display: none;
}

.btn__more_vert:hover + .block__charts + .block__links-edit {
  display: flex;
}

.forms-list .block__charts {
  margin-top: 0;
}
.forms-list .block__title {
  max-width: 460px;
}
@media (max-width: 1269px) {
  .forms-list .block__title {
    max-width: 340px;
    cursor: pointer;
  }
}
@media (max-width: 1269px) {
  .forms-list .block__title:hover {
    width: 340px;
  }
}
.forms-list .block__links {
  position: relative;
  margin-top: 0;
  margin-right: 35px;
  padding: 8px 0;
}
.forms-list .block__links:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background-color: #edeff5;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
}
.forms-list .block__edit {
  display: block;
  position: relative;
  margin-top: 0;
  padding: 8px 0;
}
.forms-list .block__edit_test {
  display: none;
}
.forms-list .block__links-edit {
  display: none;
  position: absolute;
  right: 0;
  width: 465px;
  height: 54px;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}
.row-flex__item {
  position: relative;
}

.block-border {
  margin-bottom: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.block-border:hover {
  border-color: #e9ebec;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #393d56;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  z-index: 60;
}
.header_editor {
  padding-right: 22px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__logo {
  background-image: url("../images/epicformbuilder_logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 60px;
  height: 60px;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__item {
  margin: 0 19px;
}
@media (max-width: 1374px) {
  .navbar__item {
    margin: 0 10px;
  }
}
@media (max-width: 1269px) {
  .navbar__item {
    margin: 0 15px;
  }
}
@media (max-width: 1099px) {
  .navbar__item {
    margin: 0 10px;
  }
}
.navbar__item_btn {
  margin: 0 3px;
}
.navbar__item_btn:last-child {
  margin-right: 19px;
}
.navbar__link {
  display: flex;
  position: relative;
  padding: 20px 0 19px;
  color: #9699ab;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-bottom: 2px solid transparent;
}
.navbar__link.active {
  color: #fff;
  border-color: #f33c33;
}
.navbar__link.active svg {
  fill: #fff;
}
.navbar__link:hover {
  color: #fff;
}
.navbar__link:hover svg {
  fill: #fff;
}
.navbar__link svg {
  width: 19px;
  height: 19px;
  margin-right: 10px;
  fill: #9699ab;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1269px) {
  .navbar__link svg {
    margin-right: 0;
  }
}
@media (max-width: 1099px) {
  .navbar__link svg {
    left: 7px;
  }
}
.navbar__link_editor {
  padding: 20px 20px 19px;
}
@media (max-width: 1099px) {
  .navbar__link_editor {
    padding: 21px 15px 21px 44px;
  }
}
@media (max-width: 1269px) {
  .navbar__link_editor span {
    display: inline !important;
  }
}
@media (max-width: 1099px) {
  .navbar__link_editor span {
    display: none !important;
  }
}
.navbar__link_editor svg {
  left: 20px;
}
@media (max-width: 1099px) {
  .navbar__link_editor svg {
    left: 21px;
  }
}
.navbar__link_editor.active {
  background-color: #33374f;
}
.navbar__link_editor.active svg {
  fill: #fe544b;
}
@media (max-width: 1269px) {
  .navbar__link span {
    display: none;
  }
}

.header_editor .navbar__item {
  margin: 0 3px;
}
.header_editor .navbar__link.active:after {
  bottom: 0;
}

_:-ms-fullscreen, :root .navbar__link svg {
  top: 0;
}

.btn {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn svg {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn_full-width {
  width: 100%;
}
.btn__create-form {
  background-color: #484c62;
  color: #b4bad9;
  padding: 11px 15px;
  border-bottom: none;
}
.btn__create-form svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #b4bad9;
}
@media (max-width: 1269px) {
  .btn__create-form svg {
    margin-right: 0;
  }
}
.btn__create-form:hover {
  color: #ffffff;
}
.btn__create-form:hover svg {
  fill: #fff;
}
.btn__menu-editor {
  background-color: #484c62;
  color: #b4bad9;
  padding: 9px 18px;
  border-bottom: none;
}
.btn__menu-editor svg {
  width: 18px;
  height: 18px;
  margin-right: 0;
  fill: #b4bad9;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1099px) {
  .btn__menu-editor svg {
    left: 6px;
  }
}
.btn__menu-editor:hover {
  color: #ffffff;
}
.btn__menu-editor:hover svg {
  fill: #fff;
}
.btn__publish-form {
  background-color: #89b659;
  color: #fff;
  padding: 8px 18px;
}
.btn__publish-form:hover {
  background-color: #92d050;
}
.btn__editor {
  background-color: #484c62;
  padding: 11px 15px;
  color: #4ba7f6;
}
@media (max-width: 1269px) {
  .btn__editor {
    padding: 11px;
  }
}
.btn__upgrade {
  padding: 11px 20px 11px 48px;
  background: linear-gradient(to right, #f1534f, #f53a6d);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 1269px) {
  .btn__upgrade {
    padding: 11px 15px 11px 31px;
  }
}
.btn__upgrade:before {
  content: "";
  position: absolute;
  background-image: url("../images/upgrade.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 19px;
  height: 17px;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1269px) {
  .btn__upgrade:before {
    left: 7px;
  }
}
.btn__upgrade:hover {
  background: linear-gradient(to right, #f1534f, #f1534f);
}
.btn__green {
  display: none;
  background-color: #c2de9e;
  padding: 5px 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #668e32;
}
.btn__payment {
  display: none;
  background-color: #c2de9e;
  margin-right: 25px;
  padding: 5px 5px 4px 25px;
  top: -5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #668e32;
}
.btn__payment:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  background-image: url("../images/payment.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.btn__save {
  display: inline-block;
  padding: 7px 20px;
  background-color: #89b659;
  color: #fff;
  cursor: pointer;
}
.btn__save:hover {
  background-color: #92d050;
}
.btn__more {
  padding: 0 8px;
}
.btn__more svg {
  width: 20px;
  height: 4px;
  fill: #bdbdc5;
}
.btn__more_vert svg {
  transform: rotate(90deg);
}
@media (max-width: 1269px) {
  .btn span {
    display: none;
  }
}
.btn__block-link {
  display: inline-block;
  padding: 9px;
  margin: 0 6px 0 0;
  background-color: #edeff5;
  color: #8a8e9d;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.btn__block-link svg {
  fill: #9699ab;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn__block-link_forms-grid {
  margin: 5px 0 0 0;
}
.btn__block-link:hover {
  background-color: #d7d9e3;
  color: #393d56;
}
.btn__block-link:hover svg {
  fill: #393d56;
}
.btn__block-link svg {
  vertical-align: text-bottom;
}
.btn__block-link_responses svg {
  width: 19px;
  height: 19px;
  margin-right: 10px;
}
.btn__block-link_statistics svg {
  width: 18px;
  height: 19px;
}
.btn__block-link_export svg {
  width: 17px;
  height: 18px;
}
.btn__block-link_qr svg {
  width: 18px;
  height: 18px;
}
.btn__block-link_duplicate svg, .btn__block-link_trash svg {
  width: 19px;
  height: 19px;
}
.btn__block-link_edit svg {
  width: 18px;
  height: 18px;
}
.btn__delete {
  display: inline-block;
  width: 170px;
  background-color: #44465a;
  margin-right: 8px;
  padding: 14px 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.btn__delete:last-child {
  margin-right: 0;
  margin-left: 8px;
  background-color: #fe544b;
}
@media (max-width: 1374px) {
  .btn__delete {
    width: 145px;
  }
}
.btn__submit {
  background-color: #fe544b;
  border: none;
  color: #fff;
  padding: 14px 22px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn__submit:hover {
  background-color: #ff6d65;
}
.btn__submit_green {
  background-color: #89b659;
}
.btn__submit_green:hover {
  background-color: #92d050;
}
.btn__open-editor {
  background-color: #9699ab;
  color: #fff;
  padding: 9px 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.btn__open-editor:hover {
  background-color: #bcbfce;
}
.btn__constructor {
  background-color: #393d56;
  padding: 14px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.btn__close-panel {
  background-color: #3b3d50;
  padding: 10px 12px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
@media (min-width: 1920px) {
  .btn__close-panel {
    display: none;
  }
}
.btn__close-panel svg {
  position: relative;
  width: 13px;
  height: 13px;
  top: 2px;
  fill: #9699ab;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn__close-panel:hover {
  background-color: #3e4255;
}
.btn__close-panel:hover svg {
  fill: #fff;
}
.btn__popup {
  display: inline-block;
  padding: 20px 30px;
  margin-right: 20px;
  color: #fff;
  background-color: #393d56;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.btn__popup_red {
  background-color: #fe544b;
}

_:-ms-fullscreen, :root .btn__create-form svg {
  top: 0;
}

.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  margin-top: 15px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  margin-bottom: 10px;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 6px 30px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  color: #72747c;
  text-transform: uppercase;
  border-radius: 5px;
  /* Icon */
}
.tab-label:hover {
  background: #e8e9ed;
}
.tab-label::after {
  content: "";
  position: relative;
  background-image: url("../images/down-grey.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 1em;
  height: 1em;
  top: 2px;
  text-align: center;
  transition: all 0.35s;
  transform: rotate(0deg);
  order: 2;
  fill: red;
}
.tab-label:before {
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  order: 1;
  flex: 1;
  top: 8px;
  margin: 0 15px;
  background-color: #dcdde3;
}
.tab-content {
  max-height: 0;
  color: #2c3e50;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
.tab__item_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tab__arrow-next {
  width: 6px;
  height: 10px;
  background-image: url("../images/next.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 15px;
}

input:checked + .tab-label::after {
  transform: rotate(180deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em 0 1.1em;
}

.tab__item_image {
  display: none;
  position: relative;
  width: 60px;
  margin-right: 18px;
}

.submission {
  display: flex;
  justify-content: space-between;
}
.submission__title {
  margin-bottom: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3a3d50;
}
.submission__contact-info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
}
.submission__contact-info span {
  position: relative;
  padding-right: 11px;
}
.submission__contact-info span:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background-color: #c8c8c8;
  border-radius: 50%;
}
.submission__contact-info span:last-child:after {
  display: none;
}
.submission__message {
  position: relative;
  background-color: #d6d6e2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 7px;
  margin-right: 20px;
}
.submission__message_new {
  background-color: #fe544b;
}
.submission__message_new:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.submission__attach {
  display: none;
  width: 10px;
  height: 12px;
  background-image: url("../images/attachment.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin-top: 11px;
}
.submission__attach.show {
  display: block;
}
.submission__image {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -8px;
  padding: 13px 9px;
  border: 1px solid #efefef;
  border-radius: 5px;
}
.submission__image img {
  width: 40px;
}

_:-ms-fullscreen, :root .submission__message {
  margin-top: 8px;
}

.title-page__section {
  display: flex;
  justify-content: space-between;
}
.title-section {
  display: flex;
  justify-content: space-between;
}

.top-title {
  color: #363844;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
.top-title__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #8e8f93;
}

.settings {
  margin-top: 30px;
}
.settings__title {
  color: #393d56;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.settings .custom__select {
  margin-top: 15px;
}
.settings select {
  display: none;
}
.settings__item .select-selected {
  width: 400px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 50px 0 30px;
  font-size: 13px;
}
.footer__text {
  margin: 0 7px;
  color: #72747c;
}

.navbar-footer {
  display: flex;
}
.navbar-footer__item {
  margin: 0 7px;
}
.navbar-footer__link {
  color: #9699ab;
  border-bottom: 1px solid #9699ab;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar-footer__link:hover {
  border-bottom: 1px solid transparent;
}

.block-view__container {
  display: flex;
  border: 2px solid #e1e2e8;
  border-radius: 5px;
}
.block-view__item {
  padding: 8px;
  cursor: pointer;
}
.block-view__item:hover {
  background-color: #e1e2e8;
}
.block-view__grid {
  width: 20px;
  height: 20px;
  background-image: url("../images/grid.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.block-view__list {
  width: 20px;
  height: 20px;
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.block-view__view-one {
  width: 20px;
  height: 20px;
  background-image: url("../images/view-one.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.block-view__column {
  width: 20px;
  height: 20px;
  background-image: url("../images/column.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.forms-page {
  margin-top: 30px;
}

.grid-view {
  display: none;
  flex-wrap: wrap;
}

.list-view {
  display: none;
}

.forms-grid {
  max-width: 486px;
  margin: 0 0 10px 5px;
  flex-grow: 1;
}
@media (max-width: 1269px) {
  .forms-grid {
    max-width: 360px;
  }
}
.forms-grid:nth-child(odd) {
  margin: 0 5px 10px 0;
}

.forms-list {
  display: flex;
  justify-content: space-between;
}

.form-list__item {
  position: relative;
}
.form-list__show-block {
  width: 4px;
  height: 16px;
  padding: 0 10px;
  background-image: url("../images/three-dot.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transform: translate(0%, 100%);
  cursor: pointer;
}

.chart__item {
  margin-right: 20px;
  padding: 0 20px;
  border-left: 2px solid #edeff5;
}
@media (max-width: 1269px) {
  .chart__item {
    margin-right: 10px;
    padding: 0 15px;
  }
}
.chart__time {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #bbbdc5;
}
.chart__value {
  margin-top: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fe544b;
}
.chart__value span {
  font-size: 12px;
  color: #bbbdc5;
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 440px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #393d56;
  padding: 40px;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 101;
}
@media (max-width: 1374px) {
  .popup {
    width: 350px;
    padding: 20px;
  }
}
.popup_support {
  width: 560px;
}
.popup_templates-builder {
  width: 800px;
  background-color: #fff;
  color: #323546;
  font-size: 15px;
  margin-bottom: 5%;
  top: 10%;
  transform: translate(-50%, 0) scale(0);
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.popup__title {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.popup__title_small {
  font-size: 18px;
  color: #3a3d50;
  margin-bottom: 25px;
}
.popup__subtitle {
  margin-top: 10px;
  color: #82879f;
  font-size: 14px;
}
.popup__content {
  margin-top: 30px;
}
.popup__qr-section {
  background-color: #fff;
  padding: 60px;
}
@media (max-width: 1374px) {
  .popup__qr-section {
    padding: 30px;
  }
}
.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}
.popup__close svg {
  fill: #4f546c;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.popup__close:hover svg {
  fill: #fff;
}
.popup__frame {
  width: 100%;
  height: 296px;
  background-color: #eeeeee;
  margin: 30px 0;
}
.popup__link {
  color: #fe544b;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.popup__link:hover {
  color: #6e6f78;
}
.popup__line {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  margin: 40px 0;
}
.popup__list {
  margin-bottom: 40px !important;
}
.popup__list-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
  color: #50525e;
}
.popup__list-item:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #b3b4c2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.popup__color-block {
  margin-bottom: 4px;
  padding: 20px 25px;
  font-size: 15px;
  border-radius: 5px;
  border-left: 4px solid transparent;
}
.popup__color-block_green {
  margin-top: 30px;
  background-color: #f2f7df;
  border-color: #c7dd74;
  color: #90996d;
}
.popup__color-block_orange {
  background-color: #f7eedf;
  border-color: #ed992d;
  color: #c09651;
}
.popup__color-block_blue {
  background-color: #f2f7df;
  border-color: #c7dd74;
  color: #6da6a9;
}
.popup__color-block_pink {
  background-color: #ffd2d2;
  border-color: #f87171;
  color: #c17474;
}
.popup__color-title {
  margin-bottom: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.popup__color-title_green {
  color: #6e7d34;
}
.popup__color-title_orange {
  color: #af7a22;
}
.popup__color-title_blue {
  color: #4a979b;
}
.popup__color-title_pink {
  color: #b06262;
}
.popup__btn-block {
  margin-top: 30px;
}

.popup_templates-builder .popup__title {
  color: #363844;
}
.popup_templates-builder .popup__close:hover svg {
  fill: #fe544b;
}

.modal-area {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(48, 50, 63, 0.7);
  z-index: 100;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.show-popup {
  visibility: visible;
  opacity: 1;
}

.popup_templates-builder.show-popup {
  transform: translate(-50%, 0);
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  background-color: #fff;
  color: #9699ab;
  font-size: 14px;
  border-bottom: 1px solid rgba(220, 221, 227, 0.5);
}
.top-panel__link {
  display: flex;
  align-items: center;
  padding: 0;
  color: #8a8e9d;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top-panel__link svg {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top-panel__link:hover {
  color: #393d56;
}
.top-panel__link:hover svg {
  fill: #393d56;
}
.top-panel__top-panel-back {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-color: #edeff5;
  text-align: center;
  padding: 11px 11px;
}
.top-panel__top-panel-back svg {
  width: 14px;
  height: 14px;
  fill: #8a8e9d;
  transform: rotate(90deg);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top-panel__top-panel-back_editor {
  background-color: #484c62;
}
.top-panel__back-to-list_editor {
  margin-left: 20px;
}
.top-panel__back-to-list_editor .top-panel__link:hover {
  color: #fff;
}
.top-panel__back-to-list_editor .top-panel__link:hover svg {
  fill: #fff;
}
.top-panel__title-block {
  text-align: center;
}
.top-panel__title {
  color: #484c62;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.top-panel__subtitle {
  font-size: 12px;
}

.menu-small {
  margin: 25px -15px 0;
  padding: 0px 15px 0;
  border-top: 1px solid #f3f4f8;
  text-align: center;
}
.menu-small__item {
  display: inline-block;
}
.menu-small__link {
  display: inline-block;
  position: relative;
  padding: 20px 20px 20px 40px;
  color: #8a8e9d;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.menu-small__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: 0px;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.menu-small__link svg {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  fill: #8a8e9d;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.menu-small__link:hover {
  color: #393d56;
}
.menu-small__link:hover svg {
  fill: #fe544b;
}
.menu-small__link:hover:after {
  background-color: #fe544b;
}
.menu-small__link.active {
  color: #393d56;
}
.menu-small__link.active svg {
  fill: #fe544b;
}
.menu-small__link.active:after {
  background-color: #fe544b;
}

.response .block {
  margin-bottom: 10px;
}
.response__contact-info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
}
.response__contact-info span {
  position: relative;
  padding-right: 11px;
}
.response__contact-info span:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background-color: #c8c8c8;
  border-radius: 50%;
}
.response__contact-info span:last-child:after {
  display: none;
}
.response__row {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid #ebedf2;
}
.response__row:first-child {
  padding-top: 0;
}
.response__item-title {
  width: 290px;
  padding-right: 10px;
  color: #aeb0ba;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 1269px) {
  .response__item-title {
    width: 130px;
  }
}
.response__item-text {
  color: #50525e;
  font-size: 14px;
}
.response__email {
  color: #fe544b;
}
.response__checkbox span {
  color: #83848b;
}
.response em {
  color: #bdbec6;
}
.response__warning {
  background-color: #faefe1;
  padding: 20px;
  color: #8c7d6b;
  border-radius: 5px;
}
.response__warning-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.response__warning-text {
  margin-top: 5px;
  font-size: 13px;
}
.response__files {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.response__files span {
  position: relative;
  padding-left: 30px;
}
.response__files span:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/viruses.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: -1px;
  left: 0;
}
.response__files-item {
  margin-right: 10px;
}
.response__upload {
  position: relative;
  display: flex;
  background-color: #edeff5;
  padding: 9px 13px 9px 36px;
  color: #9699ab;
  font-size: 14px;
  border-radius: 5px;
}
.response__upload:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 13px;
  background-image: url("../images/attach.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.response__upload-size {
  margin-left: 20px;
  color: #7e8195;
  font-weight: bold;
}
.response__product {
  display: flex;
  justify-content: space-between;
}
.response__product-item {
  position: relative;
}
.response__product-item_right {
  margin-left: 20px;
}
.response__product-item_left {
  margin-right: 20px;
}
.response__product-item_flex {
  display: flex;
}
.response__product-info {
  width: 444px;
}
@media (max-width: 1269px) {
  .response__product-info {
    width: 350px;
  }
}
.response__product-title {
  color: #3a3d50;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.response__image {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  background: linear-gradient(to bottom, #e0dfdd, #eeeeee);
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 1269px) {
  .response__image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}
.response__content-row {
  display: flex;
  margin-top: 30px;
}
.response__content-item {
  margin-right: 60px;
}
@media (max-width: 1269px) {
  .response__content-item {
    margin-right: 40px;
  }
}
.response__content-title {
  text-transform: uppercase;
  color: #aeb0ba;
  font-weight: bold;
  font-size: 12px;
}
.response__content-text {
  color: #50525e;
  margin-top: 10px;
  font-size: 14px;
}
.response__content-text span {
  color: #b2b3b9;
}
.response__btn-edit {
  position: absolute;
  display: block;
  width: 157px;
  bottom: 0;
  right: 0;
  background-color: #9699ab;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.response__payment {
  width: 91px;
  margin-right: 0;
}

.charts {
  width: 50%;
  margin-left: 5px;
}
.charts:nth-child(odd) {
  margin-left: 0;
  margin-right: 5px;
}
.charts__title {
  color: #72747c;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.charts__total {
  font-size: 13px;
}
.charts-section {
  margin-top: 25px;
}

.chart-block {
  display: flex;
  justify-content: space-between;
}
.chart-block__title {
  color: #72747c;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.toggle {
  font-family: arial, sans-serif;
}

.toggle .tabs {
  border-bottom: 1px solid grey;
  width: 100%;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}

.toggle .tabs .tab {
  float: left;
  background: white;
  color: #777777;
  height: 31px;
  margin: 2px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}

.toggle .tabs .tab.active {
  color: #dd4b39;
  border-bottom: 3px solid #dd4b39;
}

.toggle .panels .panel {
  padding: 20px 10px;
  display: none;
}

.toggle .panels .panel:first-child {
  display: block;
}

::-webkit-input-placeholder {
  color: #d9dbea;
}

::-moz-placeholder {
  color: #d9dbea;
}

:-ms-input-placeholder {
  color: #d9dbea;
}

:-moz-placeholder {
  color: #d9dbea;
}

.input-default {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.input-default_light {
  background-color: #f9faff;
  border-color: #dedfeb;
  color: #50525e;
}
.input-default_light::-webkit-input-placeholder {
  color: #50525e;
}
.input-default_light:-moz-placeholder {
  color: #50525e;
}
.input-default_light::-moz-placeholder {
  color: #50525e;
}
.input-default_light:-ms-input-placeholder {
  color: #50525e;
}
.input-default_light:hover {
  border-color: #cfd2de;
}
.input-default_light:focus {
  background-color: #fff;
  border-color: #bcbfce;
}
.input-default_dark {
  background-color: #3d3e4f;
  border-color: #3d3e4f;
  color: #fff;
}
.input-default_dark:hover {
  background-color: #454658;
  border-color: #454658;
}
.input-default_dark:focus {
  background-color: #4c4d60;
  border-color: #4c4d60;
}

.custom__select {
  position: relative;
}
.custom__select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #50525e transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #50525e transparent;
  top: 16px;
}

/* style the items (options), including the selected item: */
.select-selected {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  color: #50525e;
  border: 2px solid #dedfeb;
  border-radius: 5px;
  cursor: pointer;
}

.select-items {
  background-color: #fff;
  box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.55);
}
.select-items div {
  padding: 15px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #f3f4f8;
  border-radius: 5px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
}
.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 31px;
  color: #50525e;
}
.custom-checkbox + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: #f9faff;
  border: 2px solid #dedfeb;
  border-radius: 3px;
}
.custom-checkbox:checked + label {
  color: #fe544b;
}
.custom-checkbox:checked + label:before {
  border-color: #fe544b;
}
.custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 7px;
  background: #fe544b;
  width: 4px;
  height: 4px;
}

.input,
.textarea {
  position: relative;
  background-color: #444962;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
}

.textarea {
  width: 100%;
  resize: none;
}

.required {
  position: relative;
}
.required:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 8px;
  top: -3px;
  right: 20px;
  background-image: url("../images/star_input.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.popup_create-form .input {
  width: 100%;
}
.popup_create-form .textarea {
  height: 100px;
}
.popup_create-form .required {
  position: relative;
}
.popup_create-form .required:after {
  content: "";
  top: 10px;
  right: 15px;
}

.popup_support .input {
  width: 48.5%;
  margin-right: 5px;
}
.popup_support span:nth-child(2) .input {
  margin-right: 0;
  margin-left: 5px;
}
.popup_support .textarea {
  height: 130px;
}

.popup_edit-form .required {
  position: relative;
}
.popup_edit-form .required:after {
  content: "";
  top: 10px;
  right: 15px;
}
.popup_edit-form .input {
  width: 100%;
}
.popup_edit-form .btn {
  width: 100%;
  margin-bottom: 15px;
}

.support__select {
  margin-top: 0;
  margin-bottom: 10px;
}
.support__select .select-selected {
  width: auto;
  background-color: #3c4158;
  border-color: #444962;
  color: #d9dbea;
}
.support__select .select-items {
  max-height: 190px;
  background-color: #3f435b;
  box-shadow: none;
  border-radius: 5px;
  overflow-y: scroll;
}
.support__select .select-items div {
  background-color: #3f435b;
  color: #9b9ca4;
  padding: 5px;
}
.support__select .select-items div:hover {
  background-color: #373b51;
  color: #fff;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: #444962;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.top-panel-editor {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
  border-bottom: 2px solid #f0f0f0;
}
.top-panel-editor__item_flex {
  display: flex;
}

.switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 46px;
}
.switch input {
  display: none;
}
.switch__container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.switch__container_action:after {
  content: "";
  border-bottom: 1px solid #f0f0f0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.switch__text {
  padding-left: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #697176;
}
.switch__text-email {
  color: #fe544b;
  text-decoration: underline;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.slider:before {
  background-color: #fff;
  content: "";
  width: 22px;
  height: 22px;
  bottom: 2px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fe544b;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.constructor__row {
  display: flex;
}
.constructor__component {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding: 15px 20px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.constructor__component:hover {
  border-color: #e9ebec;
  z-index: 20;
}
.constructor__component:hover .switch__container_action:after {
  border-bottom-color: transparent;
}
.constructor__component.active {
  border-color: #fe544b;
}
.constructor__component_actions {
  margin-bottom: 0;
}
.constructor__dots {
  position: absolute;
  padding: 10px 18px;
  right: 8px;
  top: 7px;
  z-index: 10;
  cursor: pointer;
}
.constructor__dots-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #34384d;
  color: #9699ab;
  padding: 0;
  right: 0px;
  top: 30px;
  cursor: pointer;
  border-radius: 5px;
  border-top-right-radius: 0;
}
.constructor__dots-content:before {
  content: "";
  position: absolute;
  background: #34384d;
  width: 33px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.constructor__dots-link {
  background-repeat: no-repeat;
  background-position: 15px 47%;
  background-size: 18px;
  display: block;
  color: #9699ab;
  font-size: 14px;
  padding: 8px 40px 9px 40px;
}
.constructor__dots-link_del {
  background-image: url("../images/del.svg");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.constructor__dots-link_duplicate {
  background-image: url("../images/duplicate-grey.svg");
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.constructor__dots-link:hover {
  background-color: #3c3d4f;
  color: #fff;
}
.constructor__component-title {
  margin-bottom: 10px;
  color: #393d56;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.constructor__component-description {
  margin-top: 10px;
  font-size: 14px;
  color: #a4a5ab;
}
.constructor__add-component {
  margin-top: 30px;
  padding: 14px;
  text-align: center;
  color: #fe544b;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: 2px dashed #e0e1e3;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (min-width: 1920px) {
  .constructor__add-component {
    display: none;
  }
}
.constructor__add-component span {
  position: relative;
}
.constructor__add-component span:before {
  content: "";
  position: absolute;
  background-image: url("../images/add-component.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 18px;
  height: 18px;
  left: -27px;
}
.constructor__add-component:hover {
  border-color: #fe544b;
}
.constructor .custom__select {
  margin-top: 20px;
}
.constructor__checkbox-container {
  margin-bottom: 10px;
}
.constructor .custom-checkbox + label {
  font-weight: 500;
  font-size: 14px;
}
.constructor .custom-checkbox + label:before {
  top: 0;
}
.constructor .custom-checkbox:checked + label:after {
  top: 6px;
}

.constructor__component .btn__more {
  position: absolute;
  top: -4px;
  right: -1px;
  z-index: 5;
}

.constructor__dots:hover .constructor__dots-content {
  visibility: visible;
  opacity: 1;
}

.editor-wrapper {
  flex: 1 0 auto;
  width: 785px;
  margin: auto;
  padding: 35px 15px 0;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  background-color: #f9faff;
  border: 2px solid #dedfeb;
  color: #50525e;
  border-radius: 5px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 2px solid #dedfeb;
}

.ql-snow .ql-picker.ql-header {
  background-color: #ebecf1;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  padding: 4px 10px;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  width: 30px;
  height: 30px;
  background-color: #ebecf1;
  padding: 6px;
  margin: 0 0.5px;
  color: #9699ab;
}
.ql-snow.ql-toolbar button:first-child,
.ql-snow .ql-toolbar button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.ql-snow.ql-toolbar button:last-child,
.ql-snow .ql-toolbar button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover {
  background-color: #e1e2e8;
  color: #3d3e4f;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke {
  stroke: #3d3e4f;
}

.ql-snow .ql-stroke {
  stroke: #9699ab;
}

.ql-snow.ql-toolbar button.ql-active {
  background-color: #e1e2e8;
  color: #3d3e4f;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: #3d3e4f;
}

.components-panel__section .ql-editor {
  background-color: #3d3e4f;
  color: #fff;
}
.components-panel__section .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-color: #3d3e4f;
}
.components-panel__section .ql-snow.ql-toolbar button,
.components-panel__section .ql-snow .ql-toolbar button,
.components-panel__section .ql-snow .ql-picker.ql-header {
  background-color: #3d3e4f;
  color: #9699ab;
}
.components-panel__section .ql-snow.ql-toolbar button:hover,
.components-panel__section .ql-snow .ql-toolbar button:hover,
.components-panel__section .ql-snow.ql-toolbar button.ql-active {
  background-color: #494a5a;
}
.components-panel__section .ql-snow.ql-toolbar button:hover .ql-stroke,
.components-panel__section .ql-snow .ql-toolbar button:hover .ql-stroke,
.components-panel__section .ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: #9699ab;
}

.slide-part {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (min-width: 1920px) {
  .slide-part {
    width: calc(100% - 572px);
  }
}

.components-panel {
  position: fixed;
  width: 572px;
  min-height: 100%;
  height: auto;
  background-color: #323341;
  top: 60px;
  right: -700px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 0px 40px 20px;
  z-index: 50;
}
@media (min-width: 1920px) {
  .components-panel {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}
.components-panel__title {
  margin-left: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.components-panel__section {
  color: #9699ab;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(205, 207, 222, 0.1);
}
.components-panel__section_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.components-panel__section-title {
  text-transform: uppercase;
  margin-bottom: 18px;
}
.components-panel__item-box {
  display: flex;
  flex-wrap: wrap;
}
.components-panel__item {
  position: relative;
  width: 120px;
  height: 80px;
  background-color: #3b3d50;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.components-panel__item:nth-child(4n+1) {
  margin-left: 0;
}
.components-panel__item:nth-child(4n+4) {
  margin-right: 0;
}
.components-panel__item_half {
  width: 49.3%;
}
.components-panel__item_half:nth-child(odd) {
  margin-left: 0;
}
.components-panel__item_half:nth-child(even) {
  margin-right: 0;
}
.components-panel__item_icon {
  height: 66px;
}
.components-panel__item:hover {
  background-color: #3e4255;
  color: #fff;
}
.components-panel__item_unactive {
  background-color: #353645;
}
.components-panel__item_unactive:hover {
  background-color: #353645;
  color: #9699ab;
}
.components-panel__item_unactive .components-panel__item-text,
.components-panel__item_unactive .components-panel__item-icon {
  opacity: 0.4;
}
.components-panel__item_upgrade {
  background-image: url("../images/upgrade-red.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 14px;
  color: #FE544B;
}
.components-panel__item_upgrade:hover {
  color: #FE544B;
}
.components-panel__item-icon {
  margin-top: 10px;
  margin-bottom: 8px;
}
.components-panel__item-icon img {
  display: inline-block;
  height: 24px;
}
.components-panel__link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #fe544b;
  line-height: 2;
}
.components-panel .switch__container {
  margin-right: 0;
}

.component-settings__section {
  margin-bottom: 0px;
  padding: 20px;
  background: #353645;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.component-settings__section_flex {
  flex: 1;
}
.component-settings__section_flex:first-child {
  margin-right: 5px;
}
.component-settings__section_flex:last-child {
  margin-left: 5px;
}
.component-settings__section-help {
  margin-bottom: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.component-settings__flex-row-default {
  display: flex;
}
.component-settings__row-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.component-settings__row {
  margin-bottom: 20px;
}
.component-settings__row input {
  position: relative;
  z-index: 1;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.component-settings__description {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  color: #9699ab;
}
.component-settings__description_14 {
  font-size: 14px;
}
.component-settings__title {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.component-settings__title img {
  width: 18px;
  margin-right: 15px;
}
.component-settings__title-small {
  font-size: 14px;
  color: #61657a;
}
.component-settings__tag {
  display: inline-block;
  background-color: #323341;
  padding: 5px 10px;
  border-radius: 5px;
}
.component-settings__line {
  height: 2px;
  background-color: #323341;
  margin: 0 -20px 20px;
}

.components-panel-open .slide-part {
  width: 800px;
}
.components-panel-open .components-panel {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.components-panel-open .components-panel-content {
  display: block;
}

.components-panel {
  /* Accordion styles */
}
.components-panel .tabs {
  margin-top: 0px;
  overflow: hidden;
}
.components-panel .tabs .components-panel__section {
  padding: 0;
}
.components-panel .tab {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}
.components-panel .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-weight: bold;
  color: #9699ab;
  cursor: pointer;
  text-transform: uppercase;
  /* Icon */
}
.components-panel .tab-label:hover {
  background: none;
}
.components-panel .tab-label::before {
  display: none;
}
.components-panel .tab-content {
  max-height: 0;
  padding: 0;
  color: #fff;
  background: #323341;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.components-panel .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  font-size: 0.75em;
  background: red;
  cursor: pointer;
}
.components-panel .tab-close:hover {
  background: #cc0000;
}
.components-panel input:checked + .tab-label {
  background: none;
}
.components-panel input:checked + .tab-label::after {
  transform: rotate(180deg);
}
.components-panel input:checked ~ .tab-content {
  max-height: 160vh;
  padding: 0;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
.components-panel input:checked ~ .tab-content .component-settings__section,
.components-panel input:checked ~ .tab-content .component-settings__section-help {
  margin-bottom: 10px;
}

.components-panel-content,
.components-panel-settings,
.components-panel-settings-input,
.components-panel-settings-submit,
.components-panel-settings-country,
.components-panel-settings-states,
.components-panel-settings-actions {
  display: none;
}

.component-settings-panel-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-open .components-panel-settings {
  display: block;
}

.component-settings-panel-input-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-input-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-input-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-input-open .components-panel-settings-input {
  display: block;
}

.component-settings-panel-submit-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-submit-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-submit-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-submit-open .components-panel-settings-submit {
  display: block;
}

.component-settings-panel-country-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-country-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-country-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-country-open .components-panel-settings-country {
  display: block;
}

.component-settings-panel-states-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-states-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-states-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-states-open .components-panel-settings-states {
  display: block;
}

.component-settings-panel-actions-open .slide-part {
  width: 800px;
}
@media (min-width: 1920px) {
  .component-settings-panel-actions-open .slide-part {
    position: relative;
    left: 50%;
    transform: translateX(-86%);
  }
}
.component-settings-panel-actions-open .components-panel {
  position: absolute;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.component-settings-panel-actions-open .components-panel-settings-actions {
  display: block;
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: fixed;
  border-color: #dcdde3;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
  color: #50525e;
}

th,
td {
  padding: 10px;
  border: solid 1px #dcdde3;
  text-align: center;
}

th {
  color: #3a3d50;
}

/*# sourceMappingURL=main.css.map */
